*{
  box-sizing: border-box;
  color: #707274;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
}

body{
  margin: 0 auto;
  padding: 2% 13% 5% 13%
}

span{
  color: red;
}

#nota{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

h1, h2{
  color: black;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

.izquierda, .derecha{
  display: inline-block;
  width: 49%;
}


.derecha{
  float: right;
  top: -95px;
}

input[type="text"], input[type="tel"], input[type="mail"] {
  border: none;
  border-bottom: 1px solid #707274;
  width: 70%;
}

input{
  font-size: 21px;
}


.indicar{
  font-style: italic;
}

.check{
  opacity: 0;
}
